body {
  background-color: #f5f6fa;
}

.Main {
  background-color: #282c34;
  width: 1200px;
  height: 700px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 20px;
}